{{ partial "header" .}}

<a href="#content"> </a>

<h2>{{ .Title }}</h2>
{{ partial "post/information" . }}

{{ .Content }}

<br />
<!-- Start Hypothesis Embedding -->
<script type="application/json" class="js-hypothesis-config">
  {
    "showHighlights": true
  }
</script>
<script async src="https://hypothes.is/embed.js"></script>
<!-- End Hypothesis Embedding -->
<h5>Note: Comments are powered by <a href="https://hypothes.is" target="_blank">Hypothes.is</a>. Please expand and use the right Sidebar!</h5>

{{ partial "footer" .}}
